{% extends 'base.html' %}

{%block content%}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<h1>Calendario de la sala: {{ sala.numero_sala }}</h1>

<div id="calendar"></div>

<script id="eventos-data" type="application/json">{{ eventos|json_script:"eventos-data" }}</script>

<div id="calendar"></div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'timeGridWeek',
    events: function(fetchInfo, successCallback, failureCallback) {
        // Solicitar eventos del servidor
        fetch(window.location.href + "?fetch=1")  // Agregar ?fetch=1 para obtener JSON
        .then(response => response.json())
        .then(data => successCallback(data))
        .catch(error => failureCallback(error));
    },
    eventClick: function(info) {
        // Redirigir a la vista de reserva
        window.location.href = "{% url 'reservar_horario' sala.numero_sala %}?horario_id=" + info.event.id;
    }
    });
    calendar.render();
});
</script>
{% endblock %}